<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Videogame Categorie</title>
    <link rel="stylesheet" href="/stylesheet/delete_videogame_categorie.css" />
    <link rel="stylesheet" href="/stylesheet/styles.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://i.redd.it/kx0kf5u4lon41.png"
    />
  </head>
  <body>
    <%- include('partials/navbar'); -%>
    <section class="section">
      <h1 class="deleteMainHeader">
        Are you sure you wanna delete <%= videogameCategorieParams.id %>
        videogame categorie
      </h1>
      <header class="header">
        <% if (videogameInformation) {%> <% for (let i = 0; i <
        videogameInformation.length; i++) { %>
        <article>
          <a
            href="/videogame/<%= videogameInformation[i].videogame_name %>/<%= videogameInformation[i].id %>"
            class="openMessageLink"
          >
            <img
              class="videogameImage"
              src="<%= videogameInformation[i].videogame_image %>"
              class="img"
              alt=""
            />
          </a>
        </article>
        <% } %> <% } %>
      </header>
      <h2 class="deleteSecondHeader">
        There is <%= videogameCategorieLength %> videogames in it
      </h2>
      <form
        action="/videogame_categorie/<%= videogameCategorieParams.id %>/<%= videogameCategorieParams.videogameCategorieId %>/delete"
        method="post"
      >
        <button class="deleteButton" type="submit">
          Delete videogame categorie
        </button>
      </form>
    </section>
    <%- include('partials/footer'); -%>
  </body>
</html>
