<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Videogame</title>
    <link rel="stylesheet" href="/stylesheet/new_videogame.css" />
    <link rel="stylesheet" href="/stylesheet/styles.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://i.redd.it/kx0kf5u4lon41.png"
    />
  </head>
  <body>
    <%- include('partials/navbar'); -%> <% if (formValues) { %>
    <form action="/create_videogame" method="POST">
      <%- include('partials/errors.ejs') %>
      <h1 class="formHeader">Create New Videogame</h1>
      <label for="videogameName">Videogame Name: </label>
      <input
        type="text"
        name="videogameName"
        id="videogameName"
        value="<%= formValues[0] %>"
        required
      />
      <label for="videogameDescription">Videogame Description: </label>
      <textarea
        type="text"
        name="videogameDescription"
        id="videogameDescription"
        required
      >
<%= formValues[1]%></textarea
      >
      <label for="videogamePublisher">Videogame Publisher: </label>
      <input
        type="text"
        name="videogamePublisher"
        id="videogamePublisher"
        value="<%= formValues[7] %>"
        required
      />
      <label for="videogameQuantity">Videogame Quantity: </label>
      <input
        type="number"
        name="videogameQuantity"
        id="videogameQuantity"
        value="<%= formValues[5] %>"
        required
      />
      <label for="videogamePrice">Videogame Price: </label>
      <input
        type="number"
        name="videogamePrice"
        id="videogamePrice"
        value="<%= formValues[2] %>"
        required
      />
      <label for="videogameRating">Videogame Rating: </label>
      <input
        type="number"
        step="any"
        min="0"
        max="5"
        name="videogameRating"
        id="videogameRating"
        value="<%= formValues[4] %>"
        required
      />
      <label for="videogameReleaseDate">Videogame Release Date: </label>
      <input
        type="date"
        name="videogameReleaseDate"
        id="videogameReleaseDate"
        value="<%= formValues[3] %>"
        required
      />
      <label for="videogameImage">Videogame Image: </label>
      <input
        type="string"
        name="videogameImage"
        id="videogameImage"
        value="<%= formValues[6] %>"
        required
      />

      <fieldset class="videogameGenresContainer">
        <legend class="videogameGenreText">
          Choose your videogames genres:
        </legend>
        <% if (videogameCategories) {%> <% for (let i = 0; i <
        videogameCategories.length; i++) { %>
        <div class="videogameGenreContainer">
          <label
            for="<%= videogameCategories[i].videogame_categorie_name %>"
            class="videogameGenre"
            ><%= videogameCategories[i].videogame_categorie_name %>
            <input
              type="checkbox"
              class="videogameGenreCheckbox"
              id="<%= videogameCategories[i].videogame_categorie_name %>"
              name="videogameGenre"
              value="<%= videogameCategories[i].videogame_categorie_name %>"
            />
          </label>
        </div>
        <% } %> <% } %>
      </fieldset>
      <button type="submit" class="submitButton">Submit</button>
    </form>
    <% } else { %>
    <form action="/create_videogame" method="POST">
      <h1 class="formHeader">Create New Videogame</h1>
      <label for="videogameName">Videogame Name: </label>
      <input type="text" name="videogameName" id="videogameName" required />
      <label for="videogameDescription">Videogame Description: </label>
      <textarea
        type="text"
        name="videogameDescription"
        id="videogameDescription"
        required
      ></textarea>
      <label for="videogamePublisher">Videogame Publisher: </label>
      <input
        type="text"
        name="videogamePublisher"
        id="videogamePublisher"
        required
      />
      <label for="videogameQuantity">Videogame Quantity: </label>
      <input
        type="number"
        name="videogameQuantity"
        id="videogameQuantity"
        required
      />
      <label for="videogamePrice">Videogame Price: </label>
      <input type="number" name="videogamePrice" id="videogamePrice" required />
      <label for="videogameRating">Videogame Rating: </label>
      <input
        type="number"
        step="any"
        min="0"
        max="5"
        name="videogameRating"
        id="videogameRating"
        required
      />

      <label for="videogameReleaseDate">Videogame Release Date: </label>
      <input
        type="date"
        name="videogameReleaseDate"
        id="videogameReleaseDate"
        required
      />
      <label for="videogameImage">Videogame Image: </label>
      <input type="string" name="videogameImage" id="videogameImage" required />

      <fieldset class="videogameGenresContainer">
        <legend class="videogameGenreText">
          Choose your videogames genres:
        </legend>
        <% if (videogameCategories) {%> <% for (let i = 0; i <
        videogameCategories.length; i++) { %>
        <div class="videogameGenreContainer">
          <label
            for="<%= videogameCategories[i].videogame_categorie_name %>"
            class="videogameGenre"
            ><%= videogameCategories[i].videogame_categorie_name %>
            <input
              type="checkbox"
              class="videogameGenreCheckbox"
              id="<%= videogameCategories[i].videogame_categorie_name %>"
              name="videogameGenre"
              value="<%= videogameCategories[i].videogame_categorie_name %>"
            />
          </label>
        </div>
        <% } %> <% } %>
      </fieldset>
      <button type="submit" class="submitButton">Submit</button>
    </form>
    <% } %> <%- include('partials/footer'); -%>
  </body>
</html>
