<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/new_videogame_categorie.css" />
    <link rel="stylesheet" href="/stylesheet/styles.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://i.redd.it/kx0kf5u4lon41.png"
    />
    <title>New Videogame Category</title>
  </head>
  <body>
    <%- include('partials/navbar'); -%> <%- include('partials/errors.ejs') %> <%
    if(formValues) { %>
    <form action="/create_videogame_categorie" method="POST">
      <h1 class="formHeader">Create New Videogame Categorie</h1>
      <label for="videogameCategorie">Videogame Categorie: </label>
      <input
        type="text"
        name="videogameCategorie"
        id="videogameCategorie"
        value="<%= formValues[0] %>"
        required
      />
      <label for="videogameCategorieDescription"
        >Videogame Categorie Description:
      </label>
      <input
        type="text"
        name="videogameCategorieDescription"
        id="videogameCategorieDescription"
        value="<%= formValues[1] %>"
        required
      />
      <label for="videogameCategorieImage"
        >Videogame Categorie Image(url):
      </label>
      <input
        type="text"
        name="videogameCategorieImage"
        id="videogameCategorieImage"
        value="<%= formValues[2] %>"
        required
      />
      <button class="submitButton" type="submit">Submit</button>
    </form>
    <% } else {%>
    <form action="/create_videogame_categorie" class="form" method="POST">
      <h1 class="formHeader">Create New Videogame Categorie</h1>
      <label for="videogameCategorie">Videogame Categorie: </label>
      <input
        type="text"
        name="videogameCategorie"
        id="videogameCategorie"
        required
      />
      <label for="videogameCategorieDescription"
        >Videogame Categorie Description:
      </label>
      <textarea
        type="text"
        name="videogameCategorieDescription"
        id="videogameCategorieDescription"
        required
      ></textarea>
      <label for="videogameCategorieImage"
        >Videogame Categorie Image(url):
      </label>
      <input
        type="text"
        name="videogameCategorieImage"
        id="videogameCategorieImage"
        required
      />
      <button class="submitButton" type="submit">Submit</button>
    </form>
    <% } %> <%- include('partials/footer'); -%>
  </body>
</html>
