<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('navbar'); -%>
    <p>videogame</p>
    <% if (videogameInformation) {%>
    <div class="videogameContainer">
      <div>
        <% for (let i = 0; i <
        videogameInformation[0].videoGameGenreArray.length; i++) { %>
        <div class="videogameContainer">
          <a
            href="/videogame_categorie/<%= videogameInformation[0].videoGameGenreArray[i] %>"
            ><%= videogameInformation[0].videoGameGenreArray[i] %></a
          >
        </div>
        <% } %>
      </div>
      <span><%= videogameInformation[0].videogame_name %></span>
      <span><%= videogameInformation[0].videogame_description %></span>
      <span><%= videogameInformation[0].publisher %></span>
      <span><%= videogameInformation[0].videogame_price %></span>
      <span><%= videogameInformation[0].videogame_release_date %></span>
      <span><%= videogameInformation[0].videogame_rating %></span>
    </div>
    <% } %>
  </body>
</html>
