<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/view_all_videogames_categories.css" />
    <title>Videogame Category</title>
  </head>
  <body>
    <%- include('navbar'); -%>
    <a href="/videogame_categorie/<%- videogameCategorieParams.id -%>/<%- videogameCategorieParams.videogameCategorieId -%>/update">Update</a><br>
    <a href="/videogame_categorie/<%- videogameCategorieParams.id -%>/<%- videogameCategorieParams.videogameCategorieId -%>/delete">Delete</a>

    <div>
      <img src="<%- videogameGenreInformation[0].videogame_categorie_image -%>" class="img" alt="">
      <span><%- videogameGenreInformation[0].videogame_categorie_name -%> </span>
    </div>
    <div>
      <span><%- videogameGenreInformation[0].videogame_categorie_description -%></span>
    </div>
    <div>
      <% if (videogameGenreList) {%> <% for (let i = 0; i <
        videogameGenreList.length; i++) { %>
          <a
          href="/videogame/<%= videogameGenreList[i].videogame_name %>"
          class="openMessageLink"
          >
        <div class="videogameContainer">
          <span><%= videogameGenreList[i].videogame_name %></span>
          <img src="<%= videogameGenreList[i].videogame_image %>" class="img" alt="">
        </div>
        </a>
        <% } %> <% } %>
    </div>
    </header>
  </body>
</html>
