<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/view_videogame_categorie.css" />
    <link rel="stylesheet" href="/stylesheet/styles.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://i.redd.it/kx0kf5u4lon41.png"
    />
    <title><%- videogameGenreInformation[0].videogame_categorie_name -%></title>
  </head>
  <body>
    <%- include('partials/navbar'); -%>
    <main class="main">
      <section class="videogameCategorieImageSection">
        <figure class="videogameCategorieImageContainer">
          <img
            src="<%- videogameGenreInformation[0].videogame_categorie_image -%>"
            class="videogameCategorieImage"
            alt=""
          />
          <figcaption class="videogameCategorieImageTextContainer">
            <h1 class="videogameCategorieImageHeader">
              <%- videogameGenreInformation[0].videogame_categorie_name -%>
            </h1>
            <div class="modifyVideogameCategorieContainer">
              <a
                class="updateButton"
                href="/videogame_categorie/<%- videogameCategorieParams.id -%>/<%- videogameCategorieParams.videogameCategorieId -%>/update"
                >Update</a
              >
              <a
                class="deleteButton"
                href="/videogame_categorie/<%- videogameCategorieParams.id -%>/<%- videogameCategorieParams.videogameCategorieId -%>/delete"
                >Delete</a
              >
            </div>
          </figcaption>
        </figure>
        <div class="videogameCategorieDescriptionHeaderContainer">
          <p class="videogameCategorieDescription">
            <%- videogameGenreInformation[0].videogame_categorie_description -%>
          </p>
          <h2 class="videogamesHeader">Videogames</h2>
        </div>
      </section>

      <section class="videogameCategoriesVideogamesContainer">
        <% if (videogameGenreList) {%> <% for (let i = 0; i <
        videogameGenreList.length; i++) { %>
        <article class="videogameContainer">
          <a
            href="/videogame/<%= videogameGenreList[i].videogame_name %>/<%= videogameGenreList[i].id %>"
            class="openMessageLink"
          >
            <img
              src="<%= videogameGenreList[i].videogame_image %>"
              class="videogameImage"
              alt=""
            />
          </a>
        </article>
        <% } %> <% } %>
      </section>
    </main>
    <%- include('partials/footer'); -%>
  </body>
</html>
